.FeedbackBenefSection {
  display: flex;
  padding: 15px 0;
}

.FeedbackBenefContainer {
  display: table;
  margin: 20px;
  width: 70%;
}

.socialContainer {
  width: 30%;
}

@media (max-width: 500px) {
  .FeedbackBenefContainer {
    margin: 0 15px;
    width: 100%;
  }
  .socialContainer {
    display: none;
  }
}
