.HomeSlider {
  padding-bottom: 15px;
}

.HomeSliderImg {
  height: 550px;
  margin: 0;
  width: 100%;
}

.HomeSliderTitle {
  background-color: #2c2b2c;
  opacity: 0.8;
}

.HomeSliderTitle h3,
.HomeSliderTitle p {
  font-weight: bold;
}

@media (max-width: 500px) {
  .HomeSliderImg {
    height: 350px;
    margin: 0;
  }
}
