.ArchiveReportCard {
  margin: 15px 25px 15px 15px;
  float: left;
  width: 40%;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.35) !important;
}

.ArchiveReportCardImg{
  width: 100%;
}

@media (max-width: 500px) {
  .ArchiveReportCard {
    margin: 15px;
    width: 100%;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.35) !important;
  }
  .ArchiveReportCardImg{
    width: 100%;
  }
}
