.Toolbar {
  height: 56px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  border-bottom: 1px solid #40a4c8;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

@media (min-width: 1200px) {
  .Toolbar {
    height: 56px;
    width: 1200px;
    margin: 0 auto;
    position: inherit;
    /* top: 0;
    left: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90; */
  }
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
