body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.archiveSuccessStories {
  width: 30%;
  float: left;
  margin: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.35) !important;
}

.archiveSuccessStoriesBody {
  padding: 1rem 0 !important;
}

.archiveSuccessStoriesText {
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin: 15px;
  border-bottom: 1px solid black;
}

.archiveSuccessStoriesImgTop {
  margin: 0;
  width: 100%;
  height: 100%;
}

.archiveSuccessStoriesBody span {
  font-size: 0.75rem;
  text-align: left;
  margin-left: 15px;
}

@media (max-width: 500px) {
  .archiveSuccessStories {
    width: 100%;
  }
}
