.newsSection {
  display: flex;
  padding: 15px 0;
}

.newsContainer {
  display: table;
  margin: 0 15px;
  width: 70%;
}

.socialContainer {
  width: 30%;
}

@media (max-width: 500px) {
  .newsContainer {
    margin: 0 15px;
    width: 100%;
  }
  .socialContainer {
    display: none;
  }
}
