.CivicEducationprimary {
    color: #FD6E68;
    text-align: center;
    font-family: PT Sans;
  }
  .CivicEducationhr {
    border-top: 3px solid #FD6E68;
    width: 35%;
  }
  
  .CivicEducationitem1 {
    background-color: bisque;
    width: 400px;
    margin: 20px auto;
    padding: 10px 20px;
    border: 2px solid #fef0e3;
    border-radius: 50px;
    font-family: PT Sans;
  }
  .CivicEducationgridcontainer {
    width: 440px;
    margin: 20px auto;
    padding: 2px;
    display: grid;
    grid-template-areas: "header";
  }
  .CivicEducationimg{
    width: 200px;
    height: 250px;
  }
  .CivicEducationChvree {
    top: 1456px;
      left: 600px;
      width: auto;
      height: auto;
      padding: 40px ;
    text-align: center;
    border: 2px solid #FD6E68;
    font-family: PT Sans;
    background-color: bisque;
    margin: auto 200px;
  }

  .CivicEducationicon{
    color: #FD6E68;
    margin: auto;
    padding: 3px;
    width: 30px;
    height: 30px;
    border: 2px solid #FD6E68;
    border-radius: 50%;
  }
  