body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
img {
  border-radius: 8px;
  display: block;
  height: 500px;
  width: 900px;
}
.hvree {
  border: 2px solid black;
  padding: 50px;
  border-radius: 30px;
}
.h1 {
  color: #000;
  font-size: 44px;
  font-weight: 700;
  line-height: 58px;
  font-size: 22px;
}
