.HomeIntro {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./about.png");
}

.HomeIntro h1 {
  color: #fff;
}
.HomeIntro p {
  text-align: center;
  color: #fff;
}
.HomeIntro hr {
  background-color: #9dece2;
}
