.MenuTitleContainer {
  border-bottom: 1px solid #40a4c8;
  width: 20%;
  text-align: center;
  margin: auto;
  justify-self: center;
  color: rgb(40, 40, 40);
}

@media (max-width: 500px) {
  .MenuTitleContainer {
    border-bottom: 1px solid #40a4c8;
    width: 50%;
    text-align: center;
    margin: auto;
    justify-self: center;
    color: rgb(40, 40, 40);
  }
}
