ul li {
  list-style: none;
  color: #7b7b7b;
  font-size: 15px;
}

h5 {
  color: white;
}
.background {
  justify-content: center;
  flex-direction: column;
  margin-left: 5px;
}
.newsCategory {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #0b0807;
}
.rowblock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  background-color: rgb(44, 44, 44);
  margin: 0 auto;
}

@media (max-width:  500px) {
  .rowblock{
    width: 150%;
    display: block;
  }
  .menuResponsive{
    display: block;
    width: 150%;
  }
  .FooterResponsive{
    display: block;
    width: 150%;
  }
}
.Header {
  display: block;
  width: 150%;
}
