.youthdevprojGarchig {
    color: #EAD904;
    text-align: center;
  }
  .youthdevprojzuraas {
    border-top: 1px solid #EAD904;
    width: 35%;
  }


.youthdevprojitems {
  margin: auto;
    top: 1456px;
    left: 1350px;
    width: 800px;
    height: 200px;
    padding: 40px ;
    text-align: center;
    border: 2px solid #EAD904;
  }
  .youthdevprojheads{
    font-family: PT Sans;
    font-size: 30;
  }
  .youthdevprojtexts{
    font-family: PT Sans;
    font-size: 18;
  }
.youthdevprojflexcontainer {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.youthdevprojflexitem {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}